#start-game-button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 40%;
	padding: 30px 50px;
	font-size: xx-large;

	&:active {
		transform: translateX(-50%) scale(0.95);
	}
}

#exit-game-button {
	position: absolute;
	right: 50px;
	top: 100px;
}

#letter-input-field {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60%;
	padding: 5px 5px;
	font-size: xx-large;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;

	&:focus {
		outline: none;
	}
}

#word-displayed {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 20%;
	font-size: xx-large;
}

#letters-wrong {
	position: absolute;
	left: 10vw;
	top: 10%;
	font-size: large;
}

#hangman-container {
	position: absolute;
	left: 10vw;
	top: 20%;
	height: 400px;
	width: 15vw;
}