<app-home-button></app-home-button>

<h2 id="title">Hangman</h2>

<button *ngIf="!selectedWord" id="start-game-button" class="primary-button" (click)="startNewGame()">
	start new game</button>

<div *ngIf="selectedWord">
	<p id="word-displayed">word: {{wordToDisplay}} ({{selectedWord!.length}} letters)</p>
	<p id="letters-wrong">wrong letters guessed: <br>{{wrongGuesses.join(", ")}} ({{wrongGuesses.length}} /
		{{getMaxIncorrectGuesses()}})</p>
	<input #letterInput id="letter-input-field" (keyup.enter)="guessLetter(letterInput.value); letterInput.value=''"
		maxlength="1">

	<div id="hangman-container" appHangmanDisplay [wrongGuesses]="wrongGuesses.length">
		<img src="assets/images/hangman/pole.png" alt="hangman pole">
		<img class="body-part" src="assets/images/hangman/body_parts/head.png" alt="head part of the hangman">
		<img class="body-part" src="assets/images/hangman/body_parts/torso.png" alt="torso part of the hangman">
		<img class="body-part" src="assets/images/hangman/body_parts/left_leg.png" alt="left leg part of the hangman">
		<img class="body-part" src="assets/images/hangman/body_parts/right_leg.png" alt="right leg part of the hangman">
		<img class="body-part" src="assets/images/hangman/body_parts/left_arm.png" alt="left arm part of the hangman">
		<img class="body-part" src="assets/images/hangman/body_parts/right_arm.png" alt="right arm part of the hangman">
	</div>
	<button id="exit-game-button" class="primary-button" (click)="exitGame()">exit game</button>
</div>