* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--primary-color: #5139be;
	--secondary-color: #e6b01d;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}