* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #5139be;
	--primary-color-darker: #432fa0;
	--secondary-color: #eeb71e;
	--secondary-color-less-opaque: #eeb61e7f;
	--third-color: #b0d01f;
}

#title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-top: 30px;
	font-size: 30px;
	text-align: center;
	color: var(--primary-color);
}

.custom-button {}

body,
html {
	background: linear-gradient(to right, var(--third-color), var(--secondary-color));
	background-size: 200% 100%;
	animation: gradientHorizontalMovement 15s linear infinite;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes gradientHorizontalMovement {
	0% {
		background-position: 0% 50%;
	}

	25% {
		background-position: 50% 100%;
	}

	50% {
		background-position: 100% 50%;
	}

	75% {
		background-position: 50% 0%;
	}

	100% {
		background-position: 0% 50%;
	}
}