* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #5139be;
	--primary-color-darker: #432fa0;
	--secondary-color: #eeb71e;
	--secondary-color-less-opaque: #eeb61e7f;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.same-line {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}