form {
	margin-left: 15%;
	margin-right: 30%;
}

.form-group {
	margin-top: 30px;
	position: relative;
}

.user-input {
	// border: 1px solid #000;
	border-radius: 10px;
	box-sizing: border-box;
	color: #282828;
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
	font-weight: bold;
	width: 100%;
	padding: 6px;
	transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 1.1em;

	&:focus {
		border-color: var(--primary-color);
		box-shadow: 0 0 5px var(--primary-color);
		background-color: rgba(255, 255, 255, 0.3);
		outline: none;
	}
}

.error-message {
	color: red;
	font-size: 0.9em;
	margin-top: -10px;
	position: absolute;

	&.below {
		margin-top: 5px;
	}
}

#submit-button {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgb(0, 0, 0);
	padding: 10px 15px;
	margin-top: 30px;
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.25s, color 0.25s;
	font-weight: bold;

	&:hover {
		background-color: var(--primary-color-darker);
		color: white;
	}

	&:disabled {
		opacity: 0.7;
		background-color: #ccc;
		color: #fff;
		cursor: not-allowed;
	}
}