form {
	margin-left: 15%;
	margin-right: 30%;
}

#title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 30px 50px;
	font-size: 30px;
	color: var(--primary-color);
}

.form-group {
	margin-top: 20px;
	position: relative;
}

.user-input {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: #333;
	display: block;
	font-weight: bold;
	width: 100%;
	padding: 10px;
	transition: border-color 0.3s, box-shadow 0.3s;
	margin-top: 5px;
	font-size: 1.1em;

	&:focus {
		border-color: var(--secondary-color);
		box-shadow: 0 0 5px var(--secondary-color);
		outline: none;
	}
}

.error-message {
	color: red;
	font-size: 0.9em;
	margin-top: -10px;
	position: absolute;
}

#submit-button {
	background-color: var(--primary-color);
	color: white;
	padding: 10px 15px;
	margin-top: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.15s;
	font-weight: bold;

	&:hover {
		background-color: var(--primary-color-darker);
	}

	&:disabled {
		opacity: 0.7;
		background-color: #ccc;
		cursor: not-allowed;
	}
}

.error {
	margin-top: 10px;
}