<app-home-button></app-home-button>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
	<h2 id="title">Sign up here</h2>

	<div class="form-group">
		<label for="name">name: </label>
		<input id="name" class="user-input" formControlName="name">
		<div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error">
			<div *ngIf="name?.errors?.['required']" class="error-message">name is required.</div>
			<div *ngIf="name?.errors?.['minlength']" class="error-message">name must be at least 3 characters long.
			</div>
			<div *ngIf="name?.errors?.['pattern']" class="error-message below">name must contain only letters.</div>
		</div>
	</div>

	<div class="form-group">
		<label for="email">email: </label>
		<input id="email" class="user-input" formControlName="email">
		<div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error">
			<div *ngIf="email?.errors?.['required']" class="error-message">email is required.</div>
			<div *ngIf="email?.errors?.['email']" class="error-message">email doesnt have the right format.</div>
		</div>
	</div>

	<div class="form-group">
		<label for="phoneNumber">phone number: </label>
		<input id="phone-number" class="user-input" formControlName="phoneNumber">
		<div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="error">
			<div *ngIf="phoneNumber?.errors?.['required']" class="error-message">phone number is required.</div>
			<div *ngIf="phoneNumber?.errors?.['pattern']" class="error-message">phone number must contain only numbers.
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="password">password: </label>
		<input id="password" class="user-input" type="password" formControlName="password">
		<div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error">
			<div *ngIf="password?.errors?.['minlength']" class="error-message">password must be at least 8 characters
				long.</div>
			<div *ngIf="password?.errors?.['pattern']" class="error-message below">password must contain at least one
				lowercase letter, one uppercase letter and one digit.</div>
		</div>
	</div>

	<div class="form-group">
		<label for="passwordConfirmed">re-enter password: </label>
		<input id="password-confirmed" class="user-input" type="password" formControlName="passwordConfirmed">
		<div *ngIf="passwordConfirmed?.invalid && (passwordConfirmed?.dirty || passwordConfirmed?.touched)"
			class="error">
			<div *ngIf="passwordConfirmed?.errors?.['required']" class="error-message">password confirmation is
				required.
			</div>
			<div *ngIf="passwordConfirmed?.errors?.['notMatching']" class="error-message below">passwords do not
				match.</div>
		</div>
	</div>

	<button id="submit-button" type="submit" [disabled]="registrationForm.invalid">submit</button>
</form>