form {
	margin-left: 15%;
	margin-right: 30%;

	label, p {
		margin-left: 3px;
	}
}

.form-group {
	margin-top: 15px;
	position: relative;
}

.user-input {
	border-radius: 10px;
	box-sizing: border-box;
	color: #282828;
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
	font-weight: bold;
	width: 100%;
	padding: 6px;
	transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1.1em;

	&:focus {
		border-color: var(--primary-color);
		box-shadow: 0 0 5px var(--primary-color);
		background-color: rgba(255, 255, 255, 0.1);
		outline: none;
	}

	&::placeholder {
		font-style: italic;
		font-size: 0.8em;
	}
}

.error-message {
	color: red;
	font-size: 0.9em;
	margin-top: -10px;
	position: absolute;

	&.below {
		margin-top: 5px;
	}
}

#submit-button {
	padding: 10px 15px;
	margin-top: 15px;
	border: 1px solid var(--primary-color);
	cursor: pointer;
	font-weight: bold;

	&:disabled {
		opacity: 0.7;
		background-color: #ccc;
		color: #fff;
		cursor: not-allowed;
		box-shadow: none;
	}
}