<h2 id="title">Welcome to this random 4 app application. (currently under work) </h2>

<div class="container">
	<div class="grid">
		<div class="rectangle primary-button image-container" (mouseup)="navigateTo('/registration-form')">register form
			<img src="assets/images/main-page/register-form.png" alt="a logo of a registration form">
		</div>
		<div class="rectangle primary-button image-container" (mouseup)="navigateTo('/hangman')">hangman
			<img src="assets/images/main-page/hangman.png" alt="a logo of the game hangman">
		</div>
		<div class="rectangle primary-button image-container" (mouseup)="navigateTo('/tic-tac-toe')">tic-tac-toe
			<img src="assets/images/main-page/tic-tac-toe.png" alt="a logo of the game tic-tac-toe">
		</div>
		<div class="rectangle primary-button image-container" (mouseup)="navigateTo('/show-list')">movie / TV show list
			<img src="assets/images/main-page/show-list.png" alt="a logo of a movie / TV show list">
		</div>
	</div>
</div>