<app-home-button></app-home-button>

<p class="title">Tic-Tac-Toe</p>

<div *ngIf="hasGameStarted">
	<ng-container *ngIf="!winner; else displayDraw">
		<ng-container *ngIf="!playsVsComputer; else displayPlaysVsComputer">
			<p class="title">Player {{currentPlayer}}'s turn</p>
		</ng-container>
		<ng-template #displayPlaysVsComputer>
			<p *ngIf="currentPlayer !== selectedCharacter" class="title">Computer's turn</p>
			<p *ngIf="currentPlayer === selectedCharacter" class="title">Your turn</p>
		</ng-template>
	</ng-container>
	<ng-template #displayDraw>
		<p *ngIf="winner === 'DRAW'; else displayWinner" class="title" class="finished-game-message">
			It's a draw!
		</p>
		<ng-template #displayWinner>
			<ng-container *ngIf="!playsVsComputer; else playerOrComputerWon">
				<p class="title" class="finished-game-message">Player {{winner}} won!</p>
			</ng-container>
			<ng-template #playerOrComputerWon>
				<p *ngIf="winner === selectedCharacter" class="title" class="finished-game-message">You
					won!</p>
				<p *ngIf="winner !== selectedCharacter" class="title" class="finished-game-message">
					Computer won!</p>
			</ng-template>
		</ng-template>
	</ng-template>


	<div id="game-table">
		<div class="square" *ngFor="let square of gridSelections; let i = index" (click)="selectSquare(i)"
			(mouseenter)="mouseHovering(i)" (mouseleave)="mouseNotHovering()">
			<span class="selecting" *ngIf="hoveredSquare === i && gridSelections[i] === null; else displaySelection">
				{{ currentPlayer }}</span>
			<ng-template #displaySelection>
				<span class="selection">{{ gridSelections[i] }}</span>
			</ng-template>
		</div>
		<svg *ngIf="winner !== null && winner !== 'DRAW'" class="winning-line">
			<line [attr.x1]="winningLinePosition.x1" [attr.y1]="winningLinePosition.y1"
				[attr.x2]="winningLinePosition.x2" [attr.y2]="winningLinePosition.y2" stroke="var(--primary-color)"
				stroke-width="5" />
		</svg>

		<ng-container *ngIf="winner !== null && winner !== 'DRAW'">
			<img src="assets/misc/confetti.gif" alt="confetti to congratulate the winner" class="winner-gif">
		</ng-container>
	</div>

	<button id="exit-game-button" class="primary-button" (click)="exitGame()"><mat-icon>exit_to_app</mat-icon></button>
</div>

<div *ngIf="!hasGameStarted">
	<div id="gamemode-selection">
		<p [class.selected-gamemode]="!playsVsComputer">play with yourself (<span style="font-size:.85em;">🤨</span>)
		</p>
		<label class="switch">
			<input type="checkbox" [(ngModel)]="playsVsComputer">
			<span class="slider round"></span>
		</label>
		<p [class.selected-gamemode]="playsVsComputer">play vs computer</p>

	</div>
	<div id="character-selection" *ngIf="playsVsComputer">
		<p>choose the character to play with</p>
		<input type="radio" name="character" value="X" [(ngModel)]="selectedCharacter" />X
		<input type="radio" name="character" value="O" [(ngModel)]="selectedCharacter" />O
	</div>


	<button id="start-game-button" class="primary-button" (click)="startNewGame()">start new game</button>
</div>