<app-home-button></app-home-button>

<h2 id="title">Movies, TV Shows, and other media you'd expect</h2>

<ul id="show-list">
	<li class="show-container" *ngFor="let show of showList">
		<div class="show-cover">
			<img *ngIf="show.cover_image_path" src="{{show.cover_image_path}}" alt="a poster of {{show.name}}"
			(click)="navigateTo(show.more_details_redirect)" (keydown)="doNothing()" />
			<p *ngIf="!show.cover_image_path">no poster for {{show.name}}</p>
		</div>
		<button class="remove-show-button" (click)="removeShow(show)"><mat-icon>remove</mat-icon></button>
		<div class="show-description">
			<p class="show-name" (click)="navigateTo(show.more_details_redirect)" (keydown)="doNothing()">{{ show.name
			}}</p>
			<p class="show-type">({{ show.type }}) |
				<span><mat-icon
						style="vertical-align: middle; font-size: 1.5em; color: gold; -webkit-text-stroke: 1px black;">star</mat-icon>
					{{ show.rating }}
				</span>
			</p>
		</div>
	</li>

	<button id="add-show-button" class="primary-button" (click)="toggleAddShowWindow()">
		<mat-icon *ngIf="!isAddShowWindowOpened">add</mat-icon>
		<mat-icon *ngIf="isAddShowWindowOpened">close</mat-icon>
	</button>

	<section id="add-show-window" *ngIf="isAddShowWindowOpened">
		<p id="title" style="font-size: 1.3em; margin-bottom: 20px;">add a new show</p>

		<input type="text" [(ngModel)]="showToAdd.name" id="name" placeholder="give it a name" />
		<input type="text" [(ngModel)]="showToAdd.cover_image_path" id="cover-image-path"
			placeholder="provide an url for the poster image" />
		<label style="font-size: 0.7em">initial rating<input type="number" [(ngModel)]="showToAdd.rating" id="rating"
				placeholder="an initial rating" /></label>
		<div id="show-type-list">
			<label><input type="radio" name="show-type" value="TV SHOW" [(ngModel)]="showToAdd.type" />TV SHOW</label>
			<label><input type="radio" name="show-type" value="MOVIE" [(ngModel)]="showToAdd.type" />MOVIE</label>
			<label><input type="radio" name="show-type" value="ANIME" [(ngModel)]="showToAdd.type" />ANIME</label>
		</div>
		<input type="text" [(ngModel)]="showToAdd.more_details_redirect" id="name"
			placeholder="the url to the show page on imdb" />

		<button class="primary-button" (click)="addShow()">submit</button>
	</section>
</ul>

<app-dialog-window *ngIf="isDialogWindowOpened" [title]="'!!!'" [message]="'you will be redirected to another site'"
	(closeWindow)="navigateTo(null)"></app-dialog-window>